.formF {
	overflow: hidden;
}
.inputF {
	background-color: #00a885;
	opacity: 1;
	padding: 30px 30px 10px 30px;
	margin-top: 40px;
}
/* input {
	/* padding: 10px 25px 10px 25px;
	margin: 5px;
} */

label {
	padding-left: 10px;
	color: white;
}
.ButtonF {
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 10px 30px;
}

.headingF {
	color: white;
}

.pass {
	margin-top: 20px;
}

.signinup {
	text-align: center;
	color: white;
}
.signinup span a {
	color: rgba(0, 0, 0, 0.587);
	text-decoration: none;
	cursor: pointer;
	padding-left: 3px;
}

.signinup span a:hover {
	color: black;
}

.pwd-container {
	position: relative;
}

.pwd-container img {
	cursor: pointer;
	position: absolute;
	width: 22px;
	right: 20px;
	top: 32px;
}

@media screen and (max-width: 700px) {
	.inputF {
		margin-left: 10%;
		width: 80%;
	}
}
